<!DOCTYPE html>
<html>

<head>
    <title>Dragon Attack!</title>
    <style>

    </style>
</head>

<body>
    <main>
        <section id="dragon-status" v-if="target">
            <h3>Dragon:</h3>
            <img src="" />
            <div>{{target.health}} / {{target.maxHealth}}</div>
        </section>
        <section id="player-status" v-if="player">
            <h3>You:</h3>
            <div>{{player.health}} / {{player.maxHealth}}</div>
        </section>
        <section id="actions">
            <button v-on:click="attack">Attack</button>
        </section>
    </main>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
    <script>
        var vue = new Vue({
            el: 'main',
            data: {
                target: null,
                player: null
            },
            created: function () {
                this.$http.post(`/players/`)
                    .then(function (response) {
                        this.player = response.body.player;
                        this.target = response.body.target;
                    })
                    .then(this.subscribeToNotifications);
            },
            methods: {
                subscribeToNotifications: function () {
                    var playerId = this.player.id;
                    var scheme = document.location.protocol == "https:" ? "wss" : "ws";
                    var port = document.location.port ? (":" + document.location.port) : "";
                    var socketUrl = `${scheme}://${document.location.hostname}${port}/players/${playerId}/notifications`

                    var socket = new WebSocket(socketUrl);
                    window.socket = socket;
                    socket.onopen = function (event) {
                        console.log("opened connection to " + socketUrl);
                    };
                    socket.onclose = function (event) {
                        console.log("closed connection from " + socketUrl);
                    };
                    socket.onmessage = this.onServerEvent;
                    socket.onerror = function (event) {
                        console.log("error: ", event);
                    };
                },
                onServerEvent: function (event) {
                    console.log('Got message: ', event);
                    var payload = JSON.parse(event.data);
                    if (payload.id == this.target.id) {
                        this.target = payload;
                    }
                    if (payload.id == this.player.id) {
                        this.player = payload;
                    }
                },
                attack: function () {
                    console.log('attacking');
                    var playerId = this.player.id;
                    this.$http.post(`/players/${playerId}/attacks`);
                }
            }
        });
    </script>
</body>

</html>